.map {
    width: 360px; 
    height: 640px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
    background-image: url(map.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.path3 {
    left: 83px;;
    top : 0px;
    width: 93px;
    height: 640px;
    position: absolute;
    background-image : url(path3.png);
    background-size: 100% 100%;
    z-index: -1;
}

.car3 {
    position: absolute;
    top : 293px;
    left: 134px;
    width: 59.5px;
    height: 54px;
    background-image: url(car3.png);
    background-size: 100% 100%;
}
.setting {
    top : 5px;
    left: 296px;
    width: 56px;
    height: 56px;
    position: absolute;
    background-image : url(setting.png);
    background-size: 100% 100%;
}

.box {
    position: absolute;
    top: 436px;
    left: 67px;
    width: 220px;
    height: 142px;
    border-radius: 10px;
    border: 3px solid #5182FF;
    background: #FFF;
}

.bus {
    position: absolute;
    top : 7px;
    left: 14px;
    width: 36px;
    height: 36px;
    background-image: url(bus.png);
    background-size: 100% 100%;
}

.text {
    position: absolute;
    top: 7px;
    left: 55px;
    color: #000;
    font-family: AppleSDGothicNeoB00;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    position: absolute;
    top: 12px;
    left: 99px;
    width: 99px;
    height: 29px;
    border-radius: 20px;
    background: #5182FF;

    color: #FFFFFF;
    font-family: AppleSDGothicNeoB00;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_box {
    position: absolute;
    width: 178px;
    height: 26px;
    border-radius: 7px;
    border: 1px solid #F0F0F0;
    background: #FFF;
}

.box1 {
    top: 56px;
    left: 24px;
}
.box2 {
    top: 86px;
    left: 24px;
}

.text1 {
    position: absolute;
    top: 5px;
    left: 7px;
    color: #000;
    font-family: AppleSDGothicNeoR00;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.plus {
    position: absolute;
    width: 26px;
    height: 14px;
    top: 552px;
    left: 167px;
    gap: 0px;
    opacity: 0px;
    color: #D6D6D6;
    font-family: AppleSDGothicNeoB00;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.down {
    position: absolute;
    top : 552px;
    left: 167px;
    width: 32px;
    height: 15px;
    background-image: url(down.png);
    background-size: 100% 100%;
}

.text_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppleSDGothicNeoEB00;
}

.bottom_text_box {
    position: absolute;
    top : 598px;
    left : 0;
    width: 360px;
    height: 42px;
    border-radius: 20px 20px 0px 0px;
    background: #5182FF;


    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

