.cstm_route_map {
    width: 360px; 
    height: 640px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
    background-image: url(cstm_route_map.png);
    background-repeat: no-repeat;
}

.cstm_route_path {
    width: 360px;
    height: 75px;
    top: 135px;
    left: 0px;
    position: absolute;
    background-image: url(cstm_route_path.png);
    background-repeat: no-repeat;
}

.cstm_route_car {
    width: 47px;
    height: 54px;
    top: 143px;
    left: 188.14px;
    position: absolute;
    background-image: url(cstm_route_car.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.setting {
    top : 5px;
    left: 296px;
    width: 56px;
    height: 56px;
    position: absolute;
    background-image : url(setting.png);
    background-size: 100% 100%;
}

.bottom_box {
    position: absolute;
    top: 470px;
    left: 0px;
    width: 360px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    background: #5182FF;
}

.text1 {
    position: absolute;
    width: 333px;
    height: 29px;
    top: 7px;
    left: 14px;
    font-family: AppleSDGothicNeoEB00;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.74px;
    text-align: left;
    color: #FFFFFF;
}

.line {
    position: absolute;
    width: 340px;
    height: 2px;
    background: #FFFFFF;
    left: 10px;
    top: 44px;
}

.start {
    position: absolute;
    top: 55px;
    left: 0px;
    width: 270px;
    height: 50px;
    border-radius: 0px 8px 8px 0px;
    background: #FFFFFF;
    padding-left: 4px;
    display: flex;
    align-items: center;
    color: #D6D6D6;
    font-family: AppleSDGothicNeoSB00;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.end {
    position: absolute;
    top: 112px;
    left: 90px;
    width: 270px;
    height: 50px;
    border-radius: 8px 0px 0px 8px;
    background: #FFFFFF;
    padding-left: 4px;
    display: flex;
    align-items: center;
    color: #D6D6D6;
    font-family: AppleSDGothicNeoSB00;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mark {
    position: absolute;
    width: 34px;
    height: 41px;
    top : 273px;
    left: 136px;
    background-image : url(mark.png);
    background-size: 100% 100%;
}